<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <a href="../pages/Home.js"
      ><img src="../../images/H&VLogo.png" alt="" id="logo"
    /></a>
  </body>
</html>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/#/">
        Heroes&Villains
      </a>
    </div>
    <div
      id="navbarBasicExample"
      class="navbar-menu is-active"
      aria-expanded="false"
    >
      <div class="navbar-start">
        <a class="navbar-item" href="#">
          Home
        </a>
        <a class="navbar-item" href="/#/favs">
          Favorites
        </a>
      </div>
      <div class="navbar-end"></div>
    </div>
  </div>
</nav>
