body {
   background: gray;
}

h1 {
   text-align: center;
   color: #FFF;
}

h2 {
   text-align: center;
}

h3 {
   text-align: center;
   margin: 10px;
   color: rgb(0, 91, 211);
}

div {
   background: #FFF;
   border-radius: 15px;
   margin: 10px;
   padding: 10px;
}

p {
   margin: 10px;
   text-align: justify;
}

.code_snippet {
   background: #000;
   color: #FFF;
   padding: 10px;
   margin: 10px;
   font-family: "Courier New", Courier, monospace;
}

button {
   background: rgb(0, 91, 211);
   border: none;
   color: white;
   border-radius: 5px;
   display: block;
   margin: auto;
   padding: 10px;
}

blockquote {
   text-align: center; 
}
