body {
  background: gray;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin: 10px;
  color: rgb(0, 91, 211);
}

.section {
  background: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

p {
  text-align: justify;
}

.code_snippet {
  background: #000;
  color: #fff;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

button {
  background: rgb(0, 91, 211);
  border: none;
  color: white;
  border-radius: 5px;
  display: inline;
  margin: 10px;
  padding: 10px;
}

blockquote {
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin: 10px;
}

img,
video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

audio {
  width: 100%;
}

/* For CSS3 Transition, Animate, and Transform */
/*Transition*/
#transition {
  width: 50px;
  height: 50px;
  background: navy;
  transition: width 3s, height 6s;
}

#transition:hover {
  height: 500px;
  width: 200px;
}

/*Animation*/
#animate {
  width: 70px;
  height: 47px;
  background: #6001b9;
  position: relative;
  font-size: 20px;
  padding: 10px;
  animation: animate 6s 2;
  border-radius: 5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  12.5% {
    transform: rotate(10deg);
    left: 0px;
    top: 10px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
    top: 20px;
  }
  50% {
    transform: rotate(0deg);
    left: 200px;
    top: 50px;
  }
  55% {
    transform: rotate(15deg);
    left: 200px;
    top: 25px;
  }
  62% {
    transform: rotate(180deg);
    top: 5px;

  }
  70% {
    transform: rotate(0deg);
    left: 200px;
    background: #1ec7e6;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}

/*Transform*/
#transform {
  width: 50px;
  height: 50px;
  background: darkseagreen;
  transition: width 1s, height 4s, transform 6s;
}

#transform:hover {
  width: 200px;
  height: 400px;
  transform:rotate(700deg);
}